body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    margin-left: 10vw;
    font-size: 30px;
}

p{
    font-size: 14px;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: 40vw;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a.active {
    color: lightgreen;
}

main {
    padding-top: 80px;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 1200px;
}

.content-section:nth-child(even) {
    flex-direction: column-reverse;
}

.text-container {
    max-width: 600px;
    text-align: justify;
    line-height: 1.6;
    margin: 20px;
}

.text-container h2 {
    color: #444;
    margin-bottom: 10px;
    font-size: 30px;
}

.img-container, .img-container-left {
    width: 100%;
    height: 500px;
    background: url('../img/1.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 5px;
    margin: 20px 0;
}

.img-container-left{
    width: 100%;
    height: 500px;
    background: url('../img/2.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 5px;
    margin: 20px 0;
}

.img-container-3{
    width: 100%;
    height: 500px;
    background: url('../img/3.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 5px;
    margin: 20px 0;
}
@media (min-width: 768px) {
    .content-section {
        flex-direction: row;
    }

    .content-section:nth-child(even) {
        flex-direction: row-reverse;
    }

    .text-container, .img-container, .img-container-left, .img-container-3 {
        flex: 1;
        margin: 20px;
    }

    .text-container {
        max-width: none;
        margin: 20px 40px;
    }
}
